---
import { getCollection, render } from "astro:content";

import GenLayout from "../layouts/GenLayout.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { Image } from "astro:assets";
import LandingImage from "../assets/shots/umberto-d1.jpg";

const posts = await getCollection("ratingsCollection");
---

<GenLayout>
  <Image
    src={LandingImage}
    alt="Mr. Umberto begs, Umberto D. (1952)"
    class="landingImage"
  />

  <h1>Latest Blogs</h1>
  <div class="postsGrid"></div>
</GenLayout>

<style>
  .landingImage {
    max-width: 100svw;
    height: auto;
  }

  .postsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
</style>
