<div class="header-container">
  <h3><a href="/movie-blog">Elliot's Movie Blog</a></h3>
  <div class="buttons">
    <a href="/movie-blog/about">About</a>
    <a href="/movie-blog/ratings">Ratings</a>
    <a href="/movie-blog/lists">Lists</a>
  </div>
</div>

<style>
  .header-container {
    width: 90%;
    height: 100%;
    /* background-color: teal; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
  }

  .buttons {
    display: flex;
    /* background-color: orange; */
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: #d0dde3;
  }

  @media screen and (min-width: 200px) and (max-width: 450px) {
    .header-container {
      font-size: 1rem;
    }
  }

  /* @media screen and (min-width: 451px) {
    .header-container {
      font-size: 1.25rem;
    }
  } */
</style>
