<!-- ---
import { getCollection, render } from "astro:content";
import type {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  GetStaticPaths,
} from "astro";

import SplitScreenLayout from "../../layouts/SplitScreenLayout.astro";

export const getStaticPaths = (async () => {
  const ratings = await getCollection("ratingsCollection");

  ratings.forEach((rating) => {
    console.log(rating.data.title);
  });

  return ratings.map((rating) => {
    const tmpStore = rating.data.director;
    rating.data.director = tmpStore.replaceAll(" ", "_").toLowerCase();

    return {
      params: { director: rating.data.director },
      props: { rating },
    };
  });
}) satisfies GetStaticPaths;

const { director } = Astro.params;
const { rating } = Astro.props;

console.log(rating);
---

<SplitScreenLayout>
  <p>
    Director: {
      rating.data.director
        .replaceAll("_", " ")
        .split(" ")
        .map((word: string) => word.charAt(0).toUpperCase() + word.slice(1))
        .join(" ")
    }
  </p>
</SplitScreenLayout> -->
